/*
	Inserta tu CSS aqui
*/
body{
	font-family:arial;

}
header{
	
	width:100%;
	height:700px;
	background:url("../img/grupal.jpg") no-repeat;
	background-size:cover;

}
button{
	background:#F7D358;
	border:1px solid #F7D358;
	position:relative;
	top:75px;
	left:150px;
	height:40px;
    width:100px;
	border-radius:10%;
	text-align:center;

   
}
.logo img{
	position:relative;
	width:400px;
	left:370px;
	top:60px;
}
a{
	position:relative;
	left:770px;
	top:-25px;
	padding:15px;
	font-size:15px;
	color:black;

}

.img2 li{
	display:inline-block;
	list-style:none;
}
.imgli{
	height: 240px;
	margin: 10px;
}
span{
	left:12px;
	position:relative;
}
footer{
	background:#424242;
	font-size: 17px;
	color:white;
	padding:30px;

}